@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.contact-page {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
}

h1 {
  color: #0039a1;
  margin-bottom: 20px;
}

/* Map Section */
.map-section {
  margin-bottom: 20px;
}

.map-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.map-button:hover {
  background-color: #45a049;
}

/* Contact Buttons */
.contact-buttons {
  margin-top: 20px;
}

.contact-buttons button {
  background-color: #0039a1;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-buttons button:hover {
  background-color: #0039a1;
}


.opening-hours {
  margin-top: 30px;
}

.opening-hours h2 {
  color: #0039a1;
}

.status {
  color: #4caf50;
  font-weight: bold;
}
