
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    width: 100%;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 40px; 
}

.search-bar {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.search-bar input {
    width: 100%;
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    height: 35px; 
    box-sizing: border-box;
}

.search-button {
    padding: 0 10px; 
    background-color: #0039a1;
    border: none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    cursor: pointer;
    height: 35px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .search-image {
    height: 18px;  
}

.search-button .search-image2 {
    height: 18px;  
}

.user-options {
    display: flex;
    align-items: center; 
  }
  
.user-options a {
    margin-left: 15px; 
    text-decoration: none;
    color: #333;
    font-size: 13px; 
}

.user-options i {
    margin-right: 5px;
}

.user-icon {
  display: flex;
  align-items: center; 
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.search-image2 {
  width: 20px; 
  height: 20px; 
  margin-right: 8px; 
}


/* Opciones de usuario */
.user-options a.register-icon {
    margin-left: 15px; 
    text-decoration: none;
    color: #333;
    font-size: 13px; 
}

.user-options a.register-icon i {
    margin-right: 5px;
}

/* Barra de Navegación Principal */
.main-nav {
    background-color: #0039a1;
    padding: 8px 0; 
}

.main-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px; 
    font-weight: bold;
    font-size: 14px;
}

.main-nav .rojo {
    color: red;
}

/*Desplegable categorias*/

.main-nav .dropdown {
    position: relative;
    display: inline-block;
}

.main-nav .dropdown a {
    padding: 10px 20px;
    color: #fff;
    text-transform: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
}

.main-nav .dropdown a:hover {
    color: white;
}

.main-nav .desplegable-categorias {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.main-nav .dropdown:hover .desplegable-categorias {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.main-nav .desplegable-categorias a {
    padding: 10px 15px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    display: block;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.main-nav .desplegable-categorias a:hover {
    background-color: #f1f1f1;
    color: #0039a1; 
}

/* Animacion*/
.main-nav .desplegable-categorias a:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.main-nav .desplegable-categorias a:last-child {
    border-bottom: none;
}

/*Desplegable Contacto*/

.main-nav .dropdown2 {
    position: relative;
    display: inline-block;
}

.main-nav .dropdown2 a {
    padding: 10px 20px;
    color: #fff;
    text-transform: none;
    font-size: 14px; 
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
}

.main-nav .dropdown2 a:hover {
    color: white;
}

.main-nav .desplegable-contactanos {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.main-nav .dropdown2:hover .desplegable-contactanos {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.main-nav .desplegable-contactanos a {
    padding: 10px 15px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    display: block;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.main-nav .desplegable-contactanos a:hover {
    background-color: #f1f1f1;
    color: #0039a1; 
}

/* Animacion*/
.main-nav .desplegable-contactanos a:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.main-nav .desplegable-contactanos a:last-child {
    border-bottom: none;
}
